<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lazyeraser.imas.derehelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.lazyeraser.imas.main.LIVE"
        android:allowBackup="false"
        android:icon="@drawable/ic_derehelpler"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,allowBackup"
        android:configChanges="locale|layoutDirection">
        <activity
            android:name="com.lazyeraser.imas.cgss.view.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Umi.ActionBarTheme.White"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:launchMode="standard"
            android:configChanges="locale|layoutDirection">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lazyeraser.imas.cgss.view.CardDetailActivity"
            android:exported="false"
            android:label="@string/card_detail"
            android:screenOrientation="portrait"
            android:theme="@style/Umi.ActionBarTheme.White"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.lazyeraser.imas.cgss.view.CharaDetailActivity"
            android:exported="false"
            android:label="@string/idol_info"
            android:screenOrientation="portrait"
            android:theme="@style/Umi.ActionBarTheme.White"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.lazyeraser.imas.cgss.view.SongDetailActivity"
            android:exported="false"
            android:label="@string/song_detail"
            android:screenOrientation="portrait"
            android:theme="@style/Umi.ActionBarTheme.White"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.lazyeraser.imas.cgss.view.BeatMapActivity"
            android:exported="false"
            android:label="@string/beat_map_view"
            android:theme="@style/Umi.ActionBarTheme.White"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="layoutDirection"/>
        <activity
            android:name="com.lazyeraser.imas.cgss.view.FullScreenImageActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Umi.ActionBarTheme.White.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="com.lazyeraser.imas.cgss.view.SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            android:screenOrientation="portrait"
            android:theme="@style/Umi.ActionBarTheme.White"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

    </application>

</manifest>